@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Raleway', sans-serif;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

@layer utilities{

.shadow-default {
  box-shadow:0px 0px 1px 0px #219653, 0px 0px 8px 0px rgba(33, 150, 83, 0.30);
}
.shadow-hover {
  box-shadow:0px 0px 1px 0px #219653, 0px 0px 8px 0px rgba(33, 150, 83, 0.30), 4px 4px 2px 0px rgba(46, 184, 92, 0.60);
 
}

.button-primary{
  border-radius: .8rem;
background: #2EB85C; 
padding: 0.75rem 1rem;
width: 100%;
color: #fff;
font-weight: bold;
}
.button-secondary{
border-radius: .8rem;
background: #ffffff; 
padding: 0.3rem 0.5rem;
width: 100%;
color: #807c7c;
box-shadow: 0px 0px 2px 2px #b1dfc4; 
font-weight: 500;
}
.shadow-green{
  box-shadow: 0px 0px 2px 1px #b1dfc4; 
  

}
.shadow-icon{
  border-radius: 6.25rem;
  background: #D6F5E0;
  display:flex; 
  gap:0.5rem;
  padding: 5px 0.75rem
}

}

/* border slider animation */


  

.links {
  position: relative;
}

.links:after {
  content: '';
  display: block;
  border-bottom: 2px solid #32db7b;
  width: 0;
  position: absolute;
  right: 0;
  -webkit-transition: 1s ease;
  transition: .3s ease;
}
.links:before {
  content: '';
  display: block;
  border-bottom: 2px solid #32db7b;
  width: 0;
  position: absolute;
  left: 0;
  -webkit-transition: 1s ease;
  transition: .3s ease;
}


.links:hover:after,.links:hover:before { 
  width: 50%; 
}


/* when active */
.active::before{
  transition: none;
  width: 50%;
 
}
.active::after{
  transition: none;
  width: 50%;
 
}
/* border slider animation */


/*animation arrow down  */
/* create by https://codepen.io/rightblog/pen/EagNMN */

.mouse_scroll {
	display: block;
	margin: 0 auto;
	width: 24px;
	height: 100px;
	margin-top: 100px;
}


.m_scroll_arrows
{
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  border-right: 2px solid #32db7b;
  border-bottom: 2px solid #32db7b;
  margin: 0 0 3px 4px;
  width: 16px;
  height: 16px;
}


.unu
{
  margin-top: 1px;
}

.unu, .doi, .trei
{
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
  
}

.unu
{
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  animation-delay: alternate;
}

.doi
{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  animation-delay: .2s;
  animation-direction: alternate;
  margin-top: -6px;
}

.trei
{
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  animation-delay: .3s;
  animation-direction: alternate;
  margin-top: -6px;
}

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid #32db7b;
  top: 170px;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: #32db7b;
  position: relative;
  height: 4px;
  width: 4px;
  border: 2px solid #32db7b;
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel{
   0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel {
  0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@-o-keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}

@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}

/*animation arrow down  */




.car-card {
  @apply  gap-4 w-[95%] sm:w-4/5 shadow-default p-4  justify-center items-start bg-[#F7FDF9;] hover:bg-[#DEF8E9] shadow-md hover:shadow-hover rounded-[0.875rem];
}
